body{
    background-color: pink;
}
img{
    width: 300px;
    height: 300px;
    border: 10px solid white;
    margin: 30px;
    
}
h1{
    font-size: 30px;
    text-align: center;
    color: white;
}
p{
    font-size: 15px;
    text-align: center;
    color: white;
}
.cabecalho{
    background-color: rgb(212, 129, 212);
    display: flex;
}
.logoimg{
    margin-left: 120px;
}
.listacabecalho{
    display: flex;
    margin-left: 150px;
    margin-top: 150px;
}
.itemlistacabecalho{
list-style: none;
text-transform: uppercase;
color:purple;
font-size: 30px;
padding-left: 15px;
}